<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Chat Example</title>
		<script type="text/javascript">
			/*
			var websocket = new WebSocket("ws://192.168.2.73:8080/anjaliserver/chatServerEndpoint/shekhar@gmail.com");
			websocket.onmessage = function processMessage(message){
				var jsonData = JSON.parse(message.data);
				if(message != null){
					messageTextArea.value += jsonData.from.loginId+": "+jsonData.messageContent + "\n"; 
				}
			}
			
			function sendMessage(){
				websocket.send(messageText.value);
				messageText.value = "";
			}
			*/
		</script>
	</head>
<body>
	<div class="navbar-fixed-top" role="navigation" data-ng-init="connect();">
		<div class="contentHeader" style="margin-top: 0px;">
			<div class="container">
				<div class="row">
					<span class="pull-left">
				 		<a href="" class="link" data-ng-click="back();"> 
							<span class="glyphicon glyphicon-inverse glyphicon-chevron-left gi-2x"></span>
						</a>
					</span>
					<b class="glyphicon-inverse">Chatbox</b>
					<span class="pull-right">
						<a href="" data-ng-click="showList = true; messageTo = 0;"> 
							<span class="glyphicon glyphicon-inverse glyphicon-search gi-2x" ></span>
						</a>
						&nbsp;
						<a href="" id="menu-toggle" style="margin-right: 10px;" onclick="toggleActions();">
								<span
								class="glyphicon glyphicon-inverse glyphicon-menu-hamburger gi-2x"></span>
						</a>
					</span>
				</div>
			</div>
			
	 	</div>
 	</div>
 	<br>
 	<br>
 	<!-- select user -->
 	<div class="">
		<input class="form-control" 
				type="text"
				data-ng-show="showList"
	 			data-ng-model="search"
 				style="margin-top: 5px;"/>
 				
		<div class="" data-ng-hide="showList">
		 	<table style="width: 100%; padding: 10px;">
				<tr>
					<td style="text-align: center; vertical-align: top; width: 10%;" align="left">
						<a href=""data-ng-click="viewProfile(messageTo.loginId);" style="text-align: center;">
							<img class="img-responsive" 
								 data-ng-src="{{baseUrl}}profileImage/findByLoginId/{{messageTo.loginId}}"
								 alt="">
						</a>
					</td>
					<td style="width: 80%; text-align: left; vertical-align: top; padding-left: 5px;">
						<b> {{messageTo.person.fullName}}</b>, {{messageTo.person.city}}
						<br>
						<b>{{messageTo.person.profession}}</b>
					</td>
				</tr>
			</table>
		</div>
		 				
 		<div data-ng-repeat="friend in login.friends | filter:search:strict"
 			 data-ng-click="selectUser(friend);">
 			<table class="table" data-ng-show="showList" style="width: 100%; padding: 10px;">
				<tr>
					<td style="text-align: center; vertical-align: top; width: 10%;" align="left">
						<a href="" data-ng-click="messageTo" style="text-align: center;">
							<img class="img-responsive" 
								 src="{{baseUrl}}profileImage/findByLoginId/{{friend.loginId}}"
								 alt="">
						</a>
					</td>
					<td style="width: 80%; text-align: left; vertical-align: top; padding-left: 5px;">
						<b> {{friend.person.fullName}}</b>, {{friend.person.city}}
						<br>
						<b>{{friend.person.profession}}</b>
					</td>
				</tr>
			</table>
			<div id="{{friend.loginId}}" data-ng-show="friend.loginId == messageTo.loginId" style="display:block; margin-top:10px; margin-bottom: 20px;">
			</div>
 		</div>
 	</div>
	<form>
		<div class="navbar-fixed-bottom">
			<table style="width: 100%;">
				<tr>
					<td>
						<input type="text" class="form-control" id="messageText" data-ng-model="message.messageContent" size="50"/>
					</td>
					<td>
						<a href="" class="btn btn-primary" data-ng-click="sendMessage();"> 
							<span class="glyphicon glyphicon-inverse glyphicon-send gi-1x"></span>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>