<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
	td{
		padding: 20px;
		background-color: white;
		font-size: 2em;
	}
</style>
</head>
<body>
	<div style="background-color: silver;">					
		<div>
			<table style="width: 100%;">
				<tr>
					<td>
						<h1>
							{{login.person.fullName}}
						</h1>
					</td>
					<td>
						<a href="" data-ng-click="refreshAll();">
							<span class="glyphicon glyphicon-refresh gi-1x">
							</span>
						</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="container-fluid" style="width: 100%;">
		   <div class="row">
		   		<div class="col-md-12 board-blue panel-body"
		   			data-ng-if="friendRequests.length > 0" data-ng-click="chat();">
					<span class="glyphicon glyphicon-inverse glyphicon-comment"></span>
					<span style="font-size: xx-large;">
						Chat 
					</span>
					<span class="badge badge-notify">
						{{friendRequests.length}}
					</span>
				</div>
		   		<div class="col-md-12 board-green panel-body" 
		   			data-ng-if="messageCount > 0" data-ng-click="messageList();">
					<span class="glyphicon glyphicon-inverse glyphicon-envelope"></span>
					<span style="font-size: xx-large;">
						Message 
					</span>
					<span class="badge badge-notify">
						{{messageCount}}
					</span>
				</div>
			</div>
		</div>
		<table class="" style="text-align:center; width: 100%;">
			<tr>
				<td>
					<a href="#/home">
						<span class="glyphicon glyphicon-home">
						</span>
					</a>
				</td>
				<td>
					<a href="#/searchProfessionals">
						<span class="glyphicon glyphicon-user">
						</span>
					</a>
				</td>
				<td>
					<a href="#/profileSettings">
						<span class="glyphicon glyphicon-cog">
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="#/friendList">
						<span class="glyphicon glyphicon-link">
						</span>
					</a>
				</td>
				<td>
					<a href="">
						<span class="glyphicon glyphicon-flash">
						</span>
					</a>
				</td>
				<td>
					<a href="">
						<span class="glyphicon glyphicon-tags">
						</span>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="" data-ng-click="friendRequestList();">
						<span class="glyphicon glyphicon-globe"></span>
						<span class="badge badge-notify">{{friendRequests.length}}</span>
					</a>
				</td>
				<td>
					<a href="" data-ng-click="chat();">
						<span class="glyphicon glyphicon-comment"></span>
					</a>
				</td>
				<td>
					<a href="" data-ng-click="messageList();">
						<span class="glyphicon glyphicon-envelope"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>