/* font */
body {
  font-family: "Segoe UI";
}

.panel{
	margin: 5px;
	padding: 2px;
}


.app-theme{
	background-color: #CC0066;
	color: white;
}

.app-font{
	font-family: "Segoe UI Light";
}

.app-font-inverse{
	color: white;
}

.board-pink{
	background-color: #CC0066; 
	color: white;
}

.board-green{
	background-color: green; 
	color: white;
}

.board-blue{
	background-color: navy; 
	color: white;
}

.board-light{
	background-color: silver; 
	color: white;
}

.board-white{
	background-color: white; 
	color: black;
}

.contentHeader{
	background-color: #223344;
	color: white;
	font-size: small;
	
	height: 48px;
	padding: 10px;
	margin-top: 10px;
}


/* navbar */
.navbar-default {
	background-color: white;
	border-color: #E7E7E7;	
}
/* title */
.navbar-default .navbar-brand {
	color: white;
}

/* link */
.navbar-default .navbar-nav>li>a {
	color: #777;
}




.well{
	margin: 10px;
	border-radius: 0px;
}

.list-group-item{
	border-width: 0.5px;
}

.list-group-item:first-child {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


.btn{
	border-radius: 0px;
	font-size: 1.2em;
	font-weight: bolder;
}

.btn-primary{
	background: #223344;
	border-color: #223344;
}


a:hover img:hover li:hover .btn:hover .list-group-item:hover{
	border-color: #CC0066;
	background-color: #610B38;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 75, 102, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 75, 102, 0.6);
}
a:focus img:focus .btn:focus{
	border-color: black;
	background-color: black;
  	outline: 0;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 75, 102, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 75, 102, 0.6);
}

.glyphicon{
	color: #223344;
}

.glyphicon-inverse{
	color: white;
	font-size: 1.6em;
}

.glyphicon-gray{
	color: gray;
	font-size: 1.6em;
}

.glyphicon-dark{
	font-size: 4em;
	margin: 0px;
}


.glyphicon:hover{
	border-color: silver;
	color: silver;
}

.gi-0x{font-size: .8em;}
.gi-1x{font-size: 1.2em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}



.form-control{
	height: 40px;
	box-shadow: none;
	border-radius: 0px;
	font-family: "Segoe UI";
	font-size: 1.2em;
}

.form-control:focus{
  border-color: #223344;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175), 0 0 18px rgba(22, 33, 44, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.175), 0 0 18px rgba(22, 33, 44, 0.6);
}


.a:focus{
  background-color: red;
}

.badge-notify{
   background:red;
   vertical-align: top;
   position: absolute;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#sidebar-wrapper{
	 background: #223344;
}


